python==3.9.7
https://download.pytorch.org/whl/cpu/torch-1.9.1+cpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.10.1+cpu-cp36-cp36m-linux_x86_64.whl
fastai
voila
ipywidgets
